<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration核心配置文件-->
<!--连接数据库-->
<configuration>
    <!--添加properties配置文件路径(外部配置、动态替换)-->
    <properties resource="application.properties"/>
    <environments default="development">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${datasource.postgres.driver-class-name}"/>
                <property name="url" value="${datasource.postgres.url}"/>
                <property name="username" value="${datasource.postgres.user}"/>
                <property name="password" value="${datasource.postgres.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--每一个mapper.xml文件都需要在mybatis核心配置文件里面注册-->
    <mappers>
        <mapper resource="${mybatis.mapper-locations}"/>
    </mappers>

</configuration>
